* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{
--shadeOfred: rgb(210, 5, 5);





}


body
{background-color: black;
}

h1 {
-webkit-text-stroke:1px var(--shadeOfred);
color: yellow;
text-align: center;
margin: auto;
padding-top: 2rem;
padding-bottom: 2rem;
font-size: 3.8rem;
background-color: black;}


.board-plus-reset-container
{position: relative;
display: none;
flex-direction: column;
justify-items: center;
}


.whole-page
{
    width: 70vw;
    height: 100vh;

}

.board-container {
  
width: 21rem;
height: 21rem;
background-color: yellow;
border: 3px solid yellow;
outline: 1px solid black;
display: grid;
grid-gap: 3px;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(3, 1fr);
margin-top: 5rem;

}

.board-individual-square
{
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
font-weight: bold;
color: black;

}


.names-text
{
    position: relative;}


.board-section-flex-container
{
display: flex;
 flex-direction: column;
 align-items: center;
 height: 40rem;
background-color: black;
}


label
{
margin-top: 0.3rem;
font-weight: bold;
color: yellow;
}



.play-button, .reset-button
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--shadeOfred);
    color: yellow;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-color:  yellow;
    background-color: var(--shadeOfred);
    }



    .play-button:hover, .reset-button:hover
    {background-color: rgba(210, 5, 5, 0.7);}


    .button-wrapper
    {display: flex;
        align-items: center;

        width: 70vw;
        height: 4rem;
   text-align: center;}

    .player-names
    {display: grid;
    grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr ;
gap: 0.3rem;
height: 5rem;
width:23rem;
margin-left: auto;
margin-right: auto;
color: var;}

.text-and-player-names-container

{
    position: absolute;
height: 12.5rem;
width: 70vw;
position: relative;
margin: auto;
background-color: black
}

.board-individual-square 
{background-color: var(--shadeOfred);
}

.board-individual-square:hover
{background-color: rgba(190, 5, 5, 0.7);}



.message-box
{
align-items: center; 
justify-items: center; 
justify-content: center;   
padding: 0.5rem;
font-weight: bold;
color: yellow;
font-size: 4rem;
position: absolute; 
display: none; 
width: 70vw; 
height: 100vh; 
padding-top: 1rem;
background-color: rgba(48,56,65,0.9); 
z-index: 2; 


}



.player-names
{margin-top: 1rem;
width: 70vw;
color: var(--darkGrey);}


.whole-page

{
height: 100vh;    
width: 70vw;
margin: auto;
}

.text-and-player-names-container p

{font-size: 1.2rem;
font-weight: bold;
width: 70vw;
text-align: center;
color: yellow;
padding-top: 0.8rem;}

input
{
margin-bottom: 0.3rem;
width: 10rem;
border-radius: 8px;
color: var(--darkGrey);
}

input:hover
{
 outline: 1px solid yellow;   
}


.player1name, .player2name
{justify-self: self-end;}