* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body
{background-color: navy;
}

h1 {
text-align: center;
color: gold;
margin: auto;
padding-top: 2rem;
padding-bottom: 2rem;
font-size: 3.5rem;
background-color: navy;
/* text-shadow: -1px -1px 0 navy, 1px -1px 0 navy, 1px 1px 0 navy,
1px 1px 0 navy;
} */





}

.whole-page
{background-color: lightskyblue;
    width: 70vw;
    height: 100vh;
 margin: auto;

}

.board-container {
  
    
width: 21rem;
height: 21rem;
background-color: gold;
border: 3px solid gold;
outline: 1px solid black;

/* margin: auto; */
/* margin-left: 14rem; */


display: grid;
grid-gap: 3px;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(3, 1fr);
margin-top: 5rem;

}

.board-individual-square
{
    border: 1px solid navy;
display: flex;
/* why content AND items needed below? */
justify-content: center;
align-items: center;
font-size: 3rem;
font-weight: bold;
color: gold;

}

/* .flex-container{background-color: red;
display: flex;
flex-direction: column;
align-items: center;


} */



   .board-section-flex-container
   {display: flex;
    flex-direction: column;
    align-items: center;}
/* background-color: yellow;} */

/* .whole-page h1
{color: red;} */
/* {width: 17rem;
    text-align: center;
padding-top: 3rem;
background-color: red;} */





.reset-button
{
    margin-top: 2rem;
    margin-bottom: 2rem;
        width: 12rem;
        padding: 0.8rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        background-color: navy;
        color: gold;
        font-weight: bold;
        /* margin: auto; */
    
    }


.board-individual-square 
{background-color: navy;}


.message-box
{padding: 0.5rem;
background-color: gold;
width: 16rem;
color: red;
outline: 1px solid green;
font-weight: bold;
/* margin-left: 14rem; */
text-align: center;
visibility: hidden;}

